
@use './global.scss' as var;

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 5%;
    background-color: var.$primaryColor;
}

.navbar-logo .logo {
    height: 40px;
}

.navbar-links {
    display: flex;
    list-style: none;
}

.navbar-links li {
    margin: 0 15px;
}

.navbar-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.navbar-images {
    display: flex;
}

.navbar-images .navbar-image {
    margin-left: 10px;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        text-align: center;
    }

    .navbar-links {
        flex-direction: column;
        margin-top: 10px;
    }

    .navbar-links li {
        margin: 10px 0;
    }

    .navbar-images {
        margin-top: 10px;
    }
}